.main-panel {
  min-height: 700px;
  width: 100%;
  background-color: #e0f3f5; }
  .main-panel .container-fluid {
    padding: 20px; }

.sidebar {
  min-height: 700px;
  width: 20%;
  background-color: #fff;
  float: left;
  padding-left: 20px; }
  .sidebar i {
    padding-right: 5px; }
  .sidebar ul {
    padding-top: 100px;
    list-style-type: none; }
    .sidebar ul li {
      padding: 10px 10px 10px 0px; }
  .sidebar .logo {
    width: 90px;
    height: 90px; }

.main-nav {
  background-color: #14bec5;
  height: 60px;
  color: #fff; }
  .main-nav ul li {
    padding: 0px 10px; }
  .main-nav a {
    text-align: center; }
  .main-nav .btn-success {
    background-color: #72d8dc;
    border: none; }
    .main-nav .btn-success i {
      padding-right: 5px; }

.flag-names {
  padding-left: 20px; }

.card-small {
  padding: 20px;
  border: none;
  background-color: white; }
  .card-small p {
    margin: 0px; }
  .card-small i {
    font-size: 3rem;
    padding-right: 10px; }

.card-small .table-full-width {
  width: 100%; }
  .card-small .table-full-width td {
    padding: 10px; }

.row-seperator {
  width: 100%;
  height: 20px; }

.weather {
  background-color: #f4d100;
  color: #fff;
  padding-bottom: 90px; }

.weather-bottom {
  background-color: white;
  color: Black; }

.card-small .todo input {
  background-color: #ccc;
  border: none; }
  .card-small .todo input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: Black; }
  .card-small .todo input::-moz-placeholder {
    /* Firefox 19+ */
    color: Black; }
  .card-small .todo input:-ms-input-placeholder {
    /* IE 10+ */
    color: Black; }
  .card-small .todo input:-moz-placeholder {
    /* Firefox 18- */
    color: Black; }

body {
  background-color: #e0f3f5; }

.content-wrapper {
  padding: 20px; }

/*# sourceMappingURL=style.css.map */
