.main-nav{
 background-color: #14bec5;
 height: 60px;
 color: #fff;
 ul{

   li{
     padding: 0px 10px;

   }
 }
a{
  text-align: center;
}
.btn-success{
  background-color: #72d8dc;
  border: none;
  i{
    padding-right:5px;
  }

}
}
.flag-names{
  padding-left: 20px;
}
