.sidebar{
  min-height:700px;
  width: 20%;
  background-color:#fff;
  float:left;
  padding-left:20px;

  i{
    padding-right: 5px;
  }
  ul{
    padding-top: 100px;
    list-style-type: none;
    li{
      padding: 10px 10px 10px 0px;
    }

}
.logo{
  width: 90px;
  height: 90px;
}

}
