.weather{
  background-color: #f4d100;
  color: #fff;
  padding-bottom: 90px;
}
.weather-bottom{
  background-color: white;
  color: Black;
}

.card-small .todo input{
  background-color: #ccc;
  border: none;

&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:Black;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color:  Black;
  }
&:-ms-input-placeholder { /* IE 10+ */
    color:  Black;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color:  Black;
  }
  }
